@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: lightgray #F5F5F5;
  scroll-behavior: smooth;
}


:root {
  font-family: "Inter", "Open Sans", "SF Pro Display", "Segoe UI", "Roboto";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: normal;
}


@theme {
  --color-brand: #FFB441;
  --color-backround: #131316;
}

body {
  background-color: light-dark(#FFF, #18181b);
}

input[type="range"] {
  appearance: none;
  outline: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50px;
    cursor: grab;
    background-color: #FFB441;
    border: 2px solid #fff;
    transition: all 0.3s ease;
  }

  &:hover {
    &::-webkit-slider-thumb {
      outline: 5px solid rgb(255, 180, 65, 0.3);
    }
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      outline: 5px solid rgb(255, 180, 65, 0.3);
    }
  }
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  background: #F5F5F5;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 500;

  & option {
    padding: 10px;

    &::checkmark {
      display: none;
    }

    &:focus {
      outline: none;
      background: #F5F5F5;
    }
  }

  &::picker(select) {
    border: none;
    margin-top: 5px;
    scrollbar-width: thin;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 30px 0px;
    z-index: 999;

    &:hover {
      background-color: #F5F5F5;
    }
  }


  &:focus,
  &:hover {
    background: #F5F5F5;
  }

  &::picker-icon {
    content: "\f327";
    font-family: remixicon !important;
    color: gray;
    transition: 0.4s rotate;
  }
}


section {
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: clamp(1rem, 0.4rem + 3vw, 4rem);
}

.title {
  font-size: clamp(2.5rem, calc(1rem + 3.5vw), 4rem);
}


button[popoverTarget] {
  anchor-name: var(--anchor-name);
}

div[popover] {
  inset: auto;
  position-anchor: var(--anchor-name);
  left: anchor(var(--anchor-name) center);
  top: anchor(var(--anchor-name) bottom);
  margin-top: 5px;
  transform: translate(-50%);
}

dialog {
  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
  }
}